<!DOCTYPE html>

<html>

<head>

<title>Gif Search</title>
<style type = "text/css">

.bgcolor {
background-color: #FFFFFF;
}

.fontcolor {
color: #000000;
}

.title {
font-family: Century Gothic, Arial, sans-serif;
font-size: xx-large;
font-weight: bold;
color: #000000;
}

</style>
</head>
<center>
<td ALIGN = CENTER><span class = "title">Find Me a Gif!</span></td>
<br>
<body class = "bgcolor">
<br>
<body>
      <!-- TODO: Make a block 'body' so that the homepage can extend base -->
    {% extends "base.html" %}
    {% block body}
    {% endblock %}
  <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>
</html>
