<!DOCTYPE html>

<html>

<head>

<title>Gif Search</title>
<style type = "text/css">
.bgcolor {
background-color: #48c2be;
}

.fontcolor {
color: #000000;
}

.title {
font-family: Century Gothic, Arial, sans-serif;
font-size: 50px;
font-weight: bold;
color: #FFFFFF;
}

.defaultfont {
  font-family: Century Gothic, Tahoma, Arial, sans-serif;
  font-size: 35px;
  color: #FFFFFF;
}
</style>
</head>
<center>
<h1><td ALIGN = CENTER><span class = "title">Find Me a Gif!</span></td></h1>
<br>
<body class = "bgcolor">
      <!-- TODO: Make a block 'body' so that the homepage can extend base -->
     {% block body %}

      {% endblock %}

  <!-- Include the Tenor JavaScript to fill in GIFs appropriately -->
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</html>
